.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

a {
    transition: all ease 0.3s;
    &:hover {
        text-decoration: none;
    }
}

h1 {
    color: #5e5e5e;
    margin-bottom: 30px;
    &:after {
        content: "";
        width: 55px;
        height: 3px;
        display: block;
        background-color: #00aeef;
    }
}

@media screen and (max-width:1620px) {
    .container {
        flex-direction: column;
        .main-white-container {
            width: 100%!important;
            margin-bottom: 20px;
        }
    }
}
