.product-container {
    .main-button-admin {
        position: absolute;
        top: 42px;
        right: 42px;
        &.bottom {
            top: auto;
            bottom: 42px;
        }
    }
}

.main-button-admin {
    padding: 18px 28px;
    border-radius: 40px;
    color: white;
    z-index: 42;
    background-color: #00aeef;
    transition: all ease 0.3s;
    &.unsaved,
    &.logout {
        color: #eceef2!important;
        background-color: #ffbc00;
    }
    &.disabled {
        background-color: #a8a8a8;
    }
    &.bottom {
        top: auto;
        bottom: 42px;
    }
    &:hover {
        cursor: pointer;
        text-decoration: none;
        color: white;
        background-color: #0056b3;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 30px 0 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #00aeef;
}

input:focus+.slider {
    box-shadow: 0 0 1px #00aeef;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}