@font-face {
    font-family: "Orkney Regular";
    src: url("../fonts/Orkney Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Orkney Bold";
    src: url("../fonts/Orkney Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Orkney Light";
    src: url("../fonts/Orkney Light.woff2") format("woff2");
}

@font-face {
    font-family: "Orkney Medium";
    src: url("../fonts/Orkney Medium.woff2") format("woff2");
}