.header-line-container {
    justify-content: space-between;
    display: flex;
    color: #5c5c5c;
    margin-bottom: 20px;
}

.container-line-presenters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .line-presenter {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-top: 1px solid #efefef;
        color: gray;
        a {
            color: gray;
        }
        .options {
            a {
                margin: 0 10px;
                &:hover {
                    color: #00aeef;
                }
            }
        }
        img {
            max-height: 60px;
        }
        &.inactive {
            color: #ffbc00;
        }
        &.five-per-row {
            width: 20%;
            img {
                width: auto;
                max-height: unset;
                max-width: 50%;
            }
        }
        &.two-per-row {
            width: 48%;
            img {
                width: auto;
                max-height: unset;
                max-width: 50%;
            }
        }
        &.vertical {
            flex-direction: column;
            border: 0;
            margin-bottom: 40px;
            .title {
                margin: 20px;
            }
        }
    }
}