.Input {
    color: #333;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: #fff;
    font: inherit;
    padding: 6px 10px;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color: #eee;
}

.InputInvalid {
    border-left: 2px solid orangered;
    background-color: #fca59c;
}
