.Input {
    width: 100%;
    box-sizing: border-box;
}


.Input input {
    height: 60px;
    width: 100%;
    text-indent: 20px;
    background-color: #fff;
    color: #333;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1rem;
}

.Input + .Input {
    margin: 0 20px;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: #fff;
    font: inherit;
    padding: 6px 10px;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color: #eee;
}

.InputInvalid {
    border-left: 2px solid orangered;
    background-color: #fca59c;
}
