.PomodoroPresets {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    margin: 0 auto;
}

.PomodoroPresets div {
   margin-bottom: 20px;
}

.PomodoroTimer {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.PomodoroTimer div {
    text-align: center;
}

.PomodoroTimerControl:first-child {
    margin-right: 20px;
    transform: translateX(40px);
}

.PomodoroTimerControl:last-child {
    margin-left: 20px;
    transform: translateX(-40px);
}

.PomodoroTimerButtonGroup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.PomodoroTimerButtonGroup div + div { margin-left: 20px; }

@media (min-width: 768px) {
    .PomodoroTimerControl:first-child {
        transform: translateX(0);
    }
    .PomodoroTimerControl:last-child {
        transform: translateX(0);
    }
}
